
@{
    ViewBag.Title = "TimKiem";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var grid = new WebGrid(Model, canPage: true, defaultSort: "TenNV", rowsPerPage: 5);
    @Scripts.Render("~/Scripts/jquery-1.6.2.min.js")
}

<head>
    
</head>
<body>
    <div>
        @using (Html.BeginForm("TimKiem", "ThanhViens", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
          

        <table class="table1" align="center">
            <tr>
                <td>
                    <div> Mã: </div>
                </td>
                <td>
                    <input type="text" name="MaTV" value="@ViewBag.MaTV" class = "form-control"  />
                </td>

            </tr>
            <tr>
                <td>Họ tên: </td>
                <td>
                    <input type="text" name="HoTen" value="@ViewBag.HoTen" class = "form-control" />
                </td>
            </tr>
            <tr>
                <td>Ngày sinh: </td>
                <td>
                    <input type="text" name="NgaySinh" value="@ViewBag.NgaySinh" class = "form-control" />
                </td>
            </tr>

            <tr>
                <td>Giới tính: </td>
                <td>
                    @if (@ViewBag.GioiTinh == null)
                    {
                        <input type="radio" name="GioiTinh" value="1"  /><text>Nam</text>
                        <input type="radio" name="GioiTinh" value="0" /><text>Nữ</text>
                    }
                    else if (@ViewBag.GioiTinh == "1")
                    {
                        <input type="radio" name="GioiTinh" checked value="1" /><text>Nam</text>
                        <input type="radio" name="GioiTinh" value="0" /><text>Nữ</text>
                    }
                    else
                    {
                        <input type="radio" name="GioiTinh" value="1" /><text>Nam</text>
                        <input type="radio" name="GioiTinh" checked value="0" /><text>Nữ</text>
                    }
                </td>

            </tr>
            <tr>
                <td>Email: </td>
                <td>
                    <input type="text" name="Email" value="@ViewBag.Email" class = "form-control" />
                </td>
            </tr>
            <tr>
                <td>Địa chỉ</td>
                <td>
                    <input type="text" name="DiaChi" value="@ViewBag.DiaChi" class = "form-control" />
                </td>
            </tr>
            <tr>
                <td>Tỉnh</td>
                <td>
                    @Html.DropDownList("MaTinh", null, "Tất cả", htmlAttributes: new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div style="margin-top: 10px">
                        <input type="submit" name="submit" value="Tìm kiếm" style="margin-left: 5px;width:100px;
                background-color: aquamarine;color:black" class="btn btn-default" />
                        <input type="button" name="Nhapmoi" value="Nhập mới" style="margin-left: 5px;width:100px;
                background-color:aquamarine;color:black" class="btn btn-default" onclick="location.href='@Url.Action("TimKiem", "ThanhViens/TimKiem")'" />
                    </div>
                </td>
            </tr>
        </table>
        }
    </div>

    <div id="gridContent" style="margin-top: 40px">
        @ViewBag.TB
        @grid.GetHtml(
            tableStyle: "table table-bordered table-hover",
            footerStyle: "grid-footer",
            fillEmptyRows: true,
            mode: WebGridPagerModes.Numeric,
            alternatingRowStyle: "alternatingRowStyle",
            columns: new[]  // colums in grid
             {
        grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
        grid.Column("MaTV","Mã thành viên"), //the model fields to display
        grid.Column("HoTV","Họ thành viên"  ),
        grid.Column("TenTV","Tên thành viên"),
        grid.Column("NgaySinh","Ngày sinh",format:@<text> @item.NgaySinh.ToString("dd/MM/yyyy")</text>),
grid.Column("GioiTinh","Giới tính",format: (@item) => @item.GioiTinh==true?"Nam":"Nữ"),

grid.Column("Email","Email"),
grid.Column("DiaChi","Địa chỉ"),
grid.Column("Tinh.TenTinh","Tên tỉnh"),

grid.Column(format: (item) => Html.ActionLink("Cập nhật", "Edit", "ThanhViens",new { id = item.MaTV },"ThanhViensController")),
grid.Column(format: (item) => Html.ActionLink("Xem chi tiết", "Details","ThanhViens", new { id = item.MaTV },"ThanhViensController")),
grid.Column(format: (item) => Html.ActionLink("Xóa", "Delete","ThanhViens", new { id = item.MaTV },"ThanhViensController")),
}

)
    </div>


</body>

